html{
    background-color: #000;
}

/* INDEX PAGE STYLES */
.big-tron{
    font-family: TR2N, sans-serif; 
    display: grid;
    border: 4px solid #00D3F2;
    height: 87px;
    color: #00D3F2;
    font-size: 126px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 115px;
}

.nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
    font-size: 20px;
}

.the-grid-section{
    display: grid;
    border: 3px, solid #00D3F2;
    margin-top: 20px;
    justify-content:center;
}

.enter-grid-btn{
    font-family: 'Electrolize', sans-serif;
    color:#fff;
    background: transparent;
    border: 2px solid #00C950;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 50px;
    font-size: 16px;
    cursor: pointer;
}

.enter-grid-btn:hover{
    background: rgba(0, 211, 242, 0.2);
    box-shadow: 0 0 20px #00d3f2, 0 0 40px #00d3f2;

}
    .the-grid-info{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top:5%;
    }
    .man-and-woman-pic {
        display: flex;
        justify-content: center; 
        align-items: center;
        width: auto;
    }
    .man-and-woman-pic img{
        width: 200%;
        justify-self: center;
        z-index:1;
        margin-top:10%;
    }
    .the-grid-info p{
        font-family: 'Electrolize', sans-serif;
        color:#fff;
        border: 2px solid #ff6467;
        z-index:2;
        font-size: 14px;
        width: 50%;
        padding: 10px;
        margin:5%;
    }

    
.the-actual-grid{
    display: grid;
    border: 4px solid #00D3F2;
    height:440px;
}
    .grid-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 18%;
        margin-top: 20px;
    }

    .grid-links p{
        padding: 5px;
        font-family: 'Electrolize', sans-serif;
        color:#00D3F2;
        border: 2px solid #00D3F2;
        z-index: 2;
        font-size:16px;
        margin: 0; 
    }

    .the-grid-pic img{
        width:100%;
        height:390px;
        z-index: 1;
    }

.blue-racer-pic{
    display: grid;
    border: 4px solid #00D3F2;
}

.blue-racer-pic img{
    max-width: 100%;
    height: auto;
}
.orange-racer-pic{
    display: grid;
    border: 4px solid #F4AF2D;
}

.orange-racer-pic img{
    max-width: 85%;
    height: auto;
    margin-left:auto;
}

.fully-orange-section{
    display: grid;
    border: 4px solid #F4AF2D;
    padding-bottom: 50px;
}

.synopsis-container{
    display: grid;
    padding-bottom: 50px;
    align-items: center;
    justify-items: center;
    
}

    .synopsis-container p{
        font-family: 'Electrolize', sans-serif;
        color:#fff;
        border-radius: 100px;
        border: 1px solid #F4AF2D;
        background: rgba(244, 175, 45, 0.00);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        margin-top: 50px;
        padding: 10px;
        text-align: center;
    }

.synopsis-info{
    font-family: 'Electrolize', sans-serif;
    color:#fff;
    border: 2px solid #F4AF2D;
    padding: 10px;
    margin: 5%;
    width: 90;
    margin-top: -10px;
}

.synopsis-info p{
    font-size: 14px;
    width: 100%;
    border:#F4AF2D;
}

.quick-links-container{
    display: grid;
    padding-bottom: 50px;
    align-items: center;
    justify-items: center;
}

.quick-links-container p{
    font-family: 'Electrolize', sans-serif;
    color:#fff;
    border-radius: 100px;
    border: 1px solid #F4AF2D;
    background: rgba(244, 175, 45, 0.00);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 50px;
    width: 115px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.quick-links-list{
    font-family: 'Electrolize', sans-serif;
    color:#fff;
    font-size:11px;
    border: 2px solid #F4AF2D;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    width: 245px;
    padding:5px;
    list-style-type: none; /* Removes default bullet points */
}

/*LEGACY PAGE STYLES*/
.main-screen-container{
    display: grid;
    margin-top: 15px;
    border: 4px solid #F4AF2D;
    background-image: url('../images/space_background.jpg');
    background-size: cover;
    background-position: center;

}


.tetris-grid{
    width: 271px; /* # of cols x px length of each cell */
    height: 601px; /* # of rows x px length of each cell */
    box-shadow: 0 0 20px 0 rgba(245, 158, 11, 0.60);
    margin: 0 auto;     /* Horizontally center */
    z-index:1;
    display: grid;
    grid-template-rows: 1fr auto; /* bottom auto = image */
    background:
    repeating-linear-gradient(to right, #F4AF2D 0 1px, transparent 1px 30px/*px of each cell*/),
    repeating-linear-gradient(to bottom, #F4AF2D 0 1px, transparent 1px 30px/*px of each cell*/), #111;
  }

  .green-tetris-block{
    z-index:2;
    max-width: 100%;
    width: 22%;
  }
  
  .purple-tetris-block{
    z-index:2;
    max-width: 100%;
    width: 40%;
    transform: rotate(180deg);
    padding: 110.4px;
  }

.tetris-base-pic{
    z-index:2;
    max-width: 100%;
    width: 99.4%;
    position: relative;
    bottom: 85px;
}

.starwars-text-box{
    font-family:'Pathway Gothic One', sans-serif;
    color:#FFE81F;
    font-size: 18px;
    margin-left: 24px;
    margin-right:24px;
    line-height: 1.9;
    word-spacing:5px;
    background: rgba(0, 0, 0, 0.7);
    margin-top: 50px;
}

/*ARES PAGE STYLES */

.main-screen-container-2{
    display: grid;
    margin-top: 15px;
    border: 4px solid #ff6467;
    justify-content: center;
}

.roulette-wheel{
    width:100%;
    position:relative;
}

.roulette-wheel img {
    width: 100%;
    height: auto;
    display: block;         /* removes weird spacing around images */
}

.card-pic{
    width:10%;
    z-index:1;
}

.big-synopsis-container{
    border: 1px solid #ff6467;
    z-index:1;
}
.big-synopsis-container img{
    width:100%;
    height:1000px;
    z-index:1;
}

.two-text-boxes{
    display: flex;
    flex-direction: column;
    z-index:2;
}

.two-text-boxes p{
    font-family:'Electrolize', sans-serif;
    color:#fff;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #ff6467;
    z-index:2;
    padding: 10px;
}

.box-1{
    position: absolute;
    top:100%;
    width: 30%;
    padding: 10px;
    margin:5%;
}

.box-2{
    position: absolute;
    top:180%;
    width: 24%;
    padding: 10px;
    margin-left: 66%; 
}


.last-enter-grid-btn{
    font-family: 'Electrolize', sans-serif;
    color:#fff;
    border: 2px solid #00C950;
    border-radius: 10px;
    background: transparent;
    padding: 6px;
    font-size: 14px;
    position:absolute;
    cursor:pointer;
    justify-self: center;
    top:50%;
    padding: 2%;
}

.last-enter-grid-btn:hover{
    background: rgba(0, 211, 242, 0.2);
    box-shadow: 0 0 20px #00d3f2, 0 0 40px #00d3f2;
}

.wrapper{
    display: grid;
    border: 1px solid #ff6467;
    justify-content:center;
}