/* styles.css */

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }
  
  .carousel img {
    max-height: 350px;
    object-fit: cover;
  }
  
  @media (max-width: 767.98px) {
    /* For the mobile design- center text and stack elements */
    header .badge {
      display: inline-block;
      margin-top: 1rem;
    }
  
    .display-5 {
      font-size: 2rem;
    }
  }
